<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div>
        <mat-toolbar>
          <a [routerLink]="['/goods-list']"  class="font-chilanka">
            <button mat-button class="font-chilanka">Цінності</button>
          </a>
          <a [routerLink]="['/users']" >
            <button mat-button class="font-chilanka">Користувачі</button>
          </a>
        </mat-toolbar>
    </div>
    <div>
      <router-outlet ></router-outlet>
    </div>
  </body>
</html>
